apiVersion: apps/v1
kind: Deployment
metadata:
  name: registry
  namespace: {{ .Release.Namespace }}
  labels:
    app: registry
spec:
  replicas: 1
  selector:
    matchLabels:
      app: registry
  template:
    metadata:
      labels:
        app: registry
    spec:
      enableServiceLinks: true
      containers:
        - name: registry
          image: registry:2
          ports:
            - containerPort: 5000
          env:
            - name: REGISTRY_STORAGE_DELETE_ENABLED
              value: "true"
          {{- if .Values.registry.tls.enabled }}
            {{- toYaml .Values.registry.tls.env | nindent 12 }}
          {{- end }}
          {{- if .Values.registry.tls.enabled }}
          volumeMounts:
          {{- toYaml .Values.registry.tls.volumeMounts | nindent 12 }}
          {{- end}}
          readinessProbe:
            tcpSocket:
              port: 5000
            initialDelaySeconds: 2
            timeoutSeconds: 1
            periodSeconds: 5
            successThreshold: 1
            failureThreshold: 3
          livenessProbe:
            tcpSocket:
              port: 5000
            initialDelaySeconds: 15
            timeoutSeconds: 1
            periodSeconds: 20
            successThreshold: 1
            failureThreshold: 3
      volumes:
        - name: registry
          emptyDir: {}
      {{- if .Values.registry.tls.enabled }}
      {{- toYaml .Values.registry.tls.volumes | nindent 8 }}
      {{- end}}
