apiVersion: apps/v1
kind: Deployment
metadata:
  name: ocm-controller
  labels:
    control-plane: controller
spec:
  selector:
    matchLabels:
      app: ocm-controller
  template:
    spec:
      containers:
        - name: manager
          image: open-component-model/ocm-controller
          volumeMounts:
            - mountPath: "/etc/ssl/certs/registry-root.pem"
              subPath: "registry-root.pem"
              name: "certificates"
      volumes:
        - name: "certificates"
          secret:
            secretName: "registry-certs"
            items:
              - key: "caFile"
                path: "registry-root.pem"
