name: component CTFs

on:
  pull_request_target:
  push:
    branches:
      - main
  workflow_dispatch:
  workflow_call:

permissions:
  contents: read
  pull-requests: read

jobs:
  build-cli:
    name: Build component
    runs-on: large_runner
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0
      - name: Cache go-build and mod
        uses: actions/cache@d4323d4df104b026a6aa633fdb11d772146be0bf
        with:
          path: |
            ~/.cache/go-build/
            ~/go/pkg/mod/
          key: go-${{ hashFiles('go.sum') }}
          restore-keys: |
            go-
      - name: Setup Go
        uses: actions/setup-go@f111f3307d8850f501ac008e886eec1fd1932a34
        with:
          go-version-file: '${{ github.workspace }}/go.mod'
      - name: CTF
        run: |
          cd component/
          PATH=$PATH:$(go env GOPATH)/bin make ocm && make ctf
